﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4"><b>Welcome</b></h2>
    <h5>Halaman Sebelum Login</h5>
</div>
@{
    bool isUserLoggedIn = User.Identity.IsAuthenticated;
}
<div>
    @if (isUserLoggedIn)
    {
        <div class="text-center">
            <h4 class="display-5">Anda Telah Berhasil Login</h4>
        </div>
    }
